@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* color palette */
    --color-yellow: #FEE400;
    --color-grey: #D9D9D9;
    --color-black: #2B2B2A;
    /* fonts */
    --font-open-sans: "Open Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    /* hand animation */
    --animate-wave: wave 1.5s ease-in-out infinite;

    @keyframes wave {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(14deg); }
    30% { transform: rotate(-8deg); }
    40% { transform: rotate(14deg); }
    50% { transform: rotate(-4deg); }
    60% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
  }

    --breakpoint-xs: 37rem;
}

@layer components {
    .heading-section {
        color: theme(--color-black);
        font-family: theme(--font-open-sans);
        font-weight: bold;
        font-size: small;
    }
    .nav-item-dt {
        cursor: pointer;
    }
    .nav-item-dt:hover {
        transform: scale(1.05);
    }
    .nav-item-mob {
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: left;
    }
}